  <header class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Hut8.io</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="/blog"><i class="fa fa-book fa-fw"></i> <span class="network-name">Blog</span></a>
          </li>
          <li>
            <a href="https://twitter.com/LiamHBowen"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/hut8"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="https://linkedin.com/in/liambowen"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
          <li>
            <a href="#" id="email-link">
              <i class="fa fa-envelope fa-fw"></i>
              <span class="network-name">
                Email <noscript>[Needs JS]</noscript>
              </span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </header>
