{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<body style="margin-top: 60px;">

  {{ partial "navbar.html" . }}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <!-- Left column with tags and such -->
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Post Tags</h3>
            </div>

            <!-- tags -->
            <div class="panel-body">
              <ul class="nav">
                {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
                <li>
                  <a href="/tags/{{ $key | urlize }}">
                    <span class="badge pull-right">{{ $taxonomy.Pages | len }}</span>
                    {{ $key }}
                  </a>
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>

        <!-- Blog Post Content Column -->
        <div class="col-md-9">

          <!-- Header with title, time, icon -->
          <div class="row">
            <div class="col-md-8">
              <!-- Title -->
              <h1>{{ .Title }}</h1>
              <hr>

              <!-- Date/Time -->
              <p><span class="glyphicon glyphicon-time"></span> {{ .Date.Format "2006-01-02" }}</p>
              <hr>
            </div>

            <div class="col-md-4">
              <div class="well" style="text-align:center">
                <img src="/img/{{ .Params.icon }}" style="width:100px;height:100px">
              </div>
            </div>

          </div>
          <!-- / Blog Post Content Column -->

          <!-- Post Content -->
          <div>
            {{ .Content }}
          </div>
          <hr>

          <div id="disqus_thread"></div>
          <script type="text/javascript">
           var disqus_shortname = 'hut8';
           (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>




      </div>

    </div>
    <!-- /.row -->

    <hr>

{{ partial "footer.html" }}
