{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<body style="margin-top: 60px;">

  {{ partial "navbar.html" . }}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <!-- Left column with tags and such -->
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Post Tags</h3>
            </div>

            <!-- tags -->
            <div class="panel-body">
              <ul class="nav">
                {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
                <li>
                  <a href="/tags/{{ $key | urlize }}">
                    <span class="badge pull-right">{{ $taxonomy.Pages | len }}</span>
                    {{ $key }}
                  </a>
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>

        <!-- Blog Post Content Column -->
        <div class="col-md-9">

          <!-- Header with title, time, icon -->
          <div class="row">
            <div class="col-md-6">
              <!-- Title -->
              <h1>{{ .Title }}</h1>
              <hr>

              <!-- Date/Time -->
              <p><span class="glyphicon glyphicon-time"></span> {{ .Date.Format "2006-01-02" }}</p>
              <hr>
            </div>

            <div class="col-md-6">
              <div class="well" style="text-align:center">
                <img src="/img/{{ .Params.icon }}" style="width:100px;height:100px">
              </div>
            </div>

          </div>
          <!-- / Blog Post Content Column -->

          <!-- Post Content -->
          <div>
            {{ .Content }}
          </div>
          <hr>
        </div>




      </div>

    </div>
    <!-- /.row -->

    <hr>

{{ partial "footer.html" }}
